# Guía de Binance para crear sistema de inversión en criptomonedas:

In [ ]:
pip install pandas

In [ ]:
pip install python-binance

In [ ]:
import numpy as np
import pandas as pd
#import yfinance as yf
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from binance.client import Client
client = Client(api_key, api_secret)

In [ ]:
# Get latest price from Binance API
PRECIO_BTCUSDT = client.get_symbol_ticker(symbol="BTCUSDT")
print(PRECIO_BTCUSDT)

{'symbol': 'BTCUSDT', 'price': '27468.47000000'}

In [ ]:
import json

import csv

In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
# Ejemplo:1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 
timestamp = client._get_earliest_valid_timestamp('BTCUSDT', '1d')

In [ ]:
data = client.get_historical_klines('BTCUSDT', '1d', timestamp, limit=1000)

In [ ]:
df = pd.DataFrame(data, columns=['Open_Time','Open', 'High', 'Low','Close','Volume','Close_Time','Quote','Trades','Takers_buy_base','Takers_buy_quote','Ignore'])

In [ ]:
df['Open_Time'] = pd.to_datetime(df['Open_Time'], unit='ms')

In [ ]:
df.head()

,Open_Time,Open,High,Low,Close,Volume,Close_Time,Quote,Trades,Takers_buy_base,Takers_buy_quote,Ignore
0,2017-08-17,4261.48000000,4485.39000000,4200.74000000,4285.08000000,795.15037700,1503014399999,3454770.05073206,3427,616.24854100,2678216.40060401,0
1,2017-08-18,4285.08000000,4371.52000000,3938.77000000,4108.37000000,1199.88826400,1503100799999,5086958.30617151,5233,972.86871000,4129123.31651808,0
2,2017-08-19,4108.37000000,4184.69000000,3850.00000000,4139.98000000,381.30976300,1503187199999,1549483.73542151,2153,274.33604200,1118001.87008735,0
3,2017-08-20,4120.98000000,4211.08000000,4032.62000000,4086.29000000,467.08302200,1503273599999,1930364.39032646,2321,376.79594700,1557401.33373730,0
4,2017-08-21,4069.13000000,4119.62000000,3911.79000000,4016.00000000,691.74306000,1503359999999,2797231.71402728,3972,557.35610700,2255662.55315837,0

In [ ]:
# Save dataframe to csv
df.to_csv('BTCUSDT_1d.csv', index=False)